Repository rolling-scopes/rsschool-app, pull requests merged in 2021-12, with the labels that each got.

#1089 fix: fix submission UI
  client/src/components/CrossCheck/SubmittedStatus.tsx
  client/src/pages/course/student/cross-check-submit.tsx
Labels: area:crosscheck, code:client

#1091 feat: move rs-bumblebee to rsschool-app repo
  rs-bumblebee/.env.example
  rs-bumblebee/.gitignore
  rs-bumblebee/LICENSE
  rs-bumblebee/README.md
  rs-bumblebee/docker-compose.yml
  rs-bumblebee/package-lock.json
  rs-bumblebee/package.json
  rs-bumblebee/src/constants/defaults.js
  rs-bumblebee/src/constants/discord-bridge.js
  rs-bumblebee/src/discord/discord-bridge.js
  rs-bumblebee/src/discord/events/index.js
  rs-bumblebee/src/discord/events/message-delete.js
  rs-bumblebee/src/discord/events/message-update.js
  rs-bumblebee/src/discord/events/message.js
  rs-bumblebee/src/discord/events/ready.js
  rs-bumblebee/src/discord/filters.js
  rs-bumblebee/src/discord/index.js
  rs-bumblebee/src/discord/time-logger.js
  rs-bumblebee/src/discord/utils.js
  rs-bumblebee/src/index.js
  rs-bumblebee/src/lib/common.js
  rs-bumblebee/src/telegram/events/help.js
  rs-bumblebee/src/telegram/events/index.js
  rs-bumblebee/src/telegram/events/ping.js
  rs-bumblebee/src/telegram/events/start.js
  rs-bumblebee/src/telegram/index.js
  rs-bumblebee/src/telegram/telegram-bot.js
Labels: ⛓ dependencies, 🧑‍💻code

#1096 fix(github): Automatically add course managers and supervisors into ...
  server/src/services/repository.service.ts
Labels: code:server

#1099 feat(student): ability to exclude a student from a wait list for ment…
  client/src/pages/course/mentor/interview-students.tsx
  client/src/services/course.ts
  server/src/migrations/1639502600339-Student.ts
  server/src/migrations/index.ts
  server/src/models/student.ts
  server/src/repositories/student.repository.ts
  server/src/routes/course/index.ts
  server/src/routes/course/student.ts
  server/src/services/stageInterview.service.ts
Labels: code:client, code:server

#1085 Add the ability to specify personal mentoring
  client/src/modules/Registry/pages/Mentor/index.tsx
  client/src/pages/admin/courses.tsx
  common/models/course.ts
  server/src/migrations/1638302439645-CourseMigration.ts
  server/src/migrations/index.ts
  server/src/models/course.ts
Labels: code:client, code:server
