Repository rolling-scopes/rsschool-app, pull requests merged in 2021-10, with the labels that each got.

#926 chore: fixing github pr check action
  .github/auto-label.json
  .github/workflows/pull_request.yml
  .github/workflows/test_report.yml
  .gitignore
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:client, code:server

#927 chore: update browserlist
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/test_report.yml
  client/package.json
  client/postcss.config.js
Labels: ⛓ dependencies, code:client

#924 922 Fix Prettier formatting Next static pages
  .prettierignore
  client/src/components/Header.tsx
  client/src/components/cv/forms/form-validation.ts
  client/src/pages/employer/index.tsx
  docs/features/cv.md
  docs/features/img/cv/cv-empty.JPG
  docs/features/img/cv/cv-form-buttons.JPG
  docs/features/img/cv/cv-form-filled.JPG
  docs/features/img/cv/cv-view-filled.JPG
  docs/features/img/cv/cv-view-print.JPG
  server/src/routes/opportunities/updateConsent.ts
  server/src/routes/opportunities/updateVisibility.ts
  server/src/services/applicant.service.ts
  server/src/services/resume.service.ts
Labels: code:client, code:server

#929 916: change active only behavior
  client/src/modules/Score/components/ScoreTable/index.tsx
Labels: code:client

#932 fix (autotest): show images for checkbox answers
  client/src/pages/course/student/auto-test.tsx
Labels: code:client

#948 Fix CV access bug
  server/src/routes/opportunities/getResume.ts
Labels: code:server

#952 fix: change badge id
  client/src/pages/gratitude.tsx
Labels: code:client

#955 Fix rounding on Students Dashboard
  .gitignore
  client/src/components/Dashboard/PerformanceChart.tsx
Labels: area:student, code:client
