Repository rolling-scopes/rsschool-app, pull requests merged in 2021-11, with the labels that each got.

#1027 fix(user): github username change
  server/src/rules/createUser.ts
Labels: area:profile, code:server

#1028 fix(github): switch to using octokit package and fix REST api usage
  client/src/components/Dashboard/RepositoryCard.tsx
  server/package-lock.json
  server/package.json
  server/src/services/github.service.ts
  server/src/services/repository.service.ts
Labels: area:student, ⛓ dependencies, code:client, code:server

#1029 chore: update dependencies
  client/.babelrc
  client/package-lock.json
  client/package.json
  client/src/components/CopyToClipboardButton.tsx
  client/src/components/Forms/Heroes/index.tsx
  client/src/components/GithubUserLink.tsx
  client/src/components/Header.tsx
  client/src/components/LoadingScreen.tsx
  client/src/components/Profile/PermissionsSettingsDrawer.tsx
  client/src/components/Profile/ProfileSettingsDrawer.tsx
  client/src/components/Profile/__test__/__snapshots__/ContactsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/EducationCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PermissionsSettingsDrawer.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/StudentStatsCard.test.tsx.snap
  client/src/components/Schedule/CalendarView/components/MobileCalendar.tsx
  client/src/components/Schedule/EventDetails.tsx
  client/src/components/Schedule/ListView.tsx
  client/src/components/Schedule/TaskDetails.tsx
  client/src/components/Student/DashboardDetails.tsx
  client/src/modules/Opportunities/components/CoursesSection.tsx
  client/src/modules/Registry/pages/Mentor/index.tsx
  client/src/modules/Registry/pages/Student/index.tsx
  client/src/modules/Score/components/ScoreTable/index.tsx
  client/src/pages/admin/mentor-registry.tsx
  client/src/pages/course/admin/cross-check-table.tsx
  client/src/pages/course/schedule-old.tsx
  client/src/pages/course/student/dashboard.tsx
  client/src/pages/login.tsx
  client/src/pages/profile/index.tsx
  nestjs/package-lock.json
  nestjs/package.json
  renovate.json
  server/package-lock.json
  server/package.json
  server/src/logger.ts
Labels: ⛓ dependencies, code:client, code:server

#1030 fix(deps): pin dependency @apalchys/pino-cloudwatch to 0.8.0
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, renovate

#1031 chore(deps): update dependency @types/react to v17.0.34
  client/package-lock.json
  client/package.json
Labels: ⛓ dependencies, code:client, renovate

#1033 chore(deps): update typescript-eslint monorepo to v5.3.0
  client/package-lock.json
  client/package.json
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, code:client, renovate

#1037 fix(deps): update dependency aws-sdk to v2.1022.0
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, renovate

#1040 chore(deps): update dependency dotenv to v10
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1036 chore(deps): update dependency @types/react-dom to v17.0.11
  client/package-lock.json
  client/package.json
Labels: ⛓ dependencies, code:client, renovate

#1041 fix(dashboard): do no show repo info if it's created already
  client/src/modules/StudentDashboard/components/CommonDashboardCard.tsx
  client/src/modules/StudentDashboard/components/MainStatsCard.tsx
  client/src/modules/StudentDashboard/components/MentorCard.tsx
  client/src/modules/StudentDashboard/components/NextEventCard.tsx
  client/src/modules/StudentDashboard/components/PerformanceChart.tsx
  client/src/modules/StudentDashboard/components/RepositoryCard.tsx
  client/src/modules/StudentDashboard/components/TasksChart.tsx
  client/src/modules/StudentDashboard/components/TasksStatsCard.tsx
  client/src/modules/StudentDashboard/components/TasksStatsModal.tsx
  client/src/modules/StudentDashboard/components/index.ts
  client/src/modules/StudentDashboard/components/renderers.tsx
  client/src/pages/course/student/dashboard.tsx
Labels: ⛓ dependencies, code:client, code:server

#1042 chore(deps): update postgres docker tag to v10.18
  setup/docker-compose.yml
Labels: renovate

#1021 feat(schedule): add done tasks filter and max score
  client/src/components/Schedule/TableView.tsx
  client/src/components/Schedule/UserSettings/TagColor.tsx
  client/src/components/Schedule/UserSettings/UserSettings.tsx
  client/src/components/Table/renderers.tsx
  client/src/pages/course/schedule.tsx
  client/src/services/course.ts
  client/src/styles/main.css
Labels: 🚀 feature

#1046 fix(deps): update dependency luxon to v2.1.0
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, renovate

#1050 fix(deps): update nest monorepo to v8.2.0
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1048 fix(deps): update dependency luxon to v2.1.1
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, renovate

#1047 chore(deps): update typescript-eslint monorepo to v5.3.1
  client/package-lock.json
  client/package.json
  nestjs/package-lock.json
  nestjs/package.json
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:client, code:server, renovate

#1055 fix(csv): export to csv is broken
  client/next.config.js
  server/src/routes/course/mentors/getMentorsDetailsCsv.ts
  server/src/routes/course/score/getScoreCsv.ts
Labels: code:client, code:server

#1052 refactor: update phone input
  client/src/components/cv/forms/ContactsForm.tsx
  docs/features/cv.md
  docs/features/img/cv/cv-form-filled.JPG
Labels: code:client, area:opportunities

#1060 feat: limit tries for auto-tests
  client/src/pages/course/student/auto-test.tsx
  client/src/services/course.ts
  server/src/routes/course/taskVerification.ts
Labels: area:autotest, code:client, code:server

#1062 fix: update score input
  client/src/components/Forms/ScoreInput.tsx
Labels: area:crosscheck, code:client

#1070 fix(github): do no fail if mentor does not exist in Github anymore
  server/src/services/repository.service.ts
Labels: code:server

#1071 feat: switch to own CDN for Github avatars
  client/src/components/GithubAvatar.tsx
  client/src/components/GithubUserLink.tsx
  client/src/components/Profile/MentorStatsModal.tsx
  client/src/components/Profile/PublicFeedbackCard.tsx
  client/src/components/Profile/PublicFeedbackModal.tsx
  client/src/components/Profile/__test__/__snapshots__/MentorStatsModal.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PublicFeedbackCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PublicFeedbackModal.test.tsx.snap
  client/src/config.ts
  client/src/configs/cdn.ts
Labels: code:client

#1072 chore: remove obsolete heroes uri
  client/src/components/Profile/PublicFeedbackModal.tsx
  client/src/components/Profile/__test__/__snapshots__/PublicFeedbackModal.test.tsx.snap
  common/models/profile.ts
  server/src/routes/profile/public-feedback.ts
Labels: code:client, code:server

#1073 perf: disable prefetch to reduce traffic amount
  client/src/components/AdminSider.tsx
  client/src/components/Footer/Menu.tsx
  client/src/components/Schedule/EventDetails.tsx
  client/src/components/Schedule/ListView.tsx
  client/src/components/Schedule/TaskDetails.tsx
  client/src/modules/Home/pages/HomePage/index.tsx
  client/src/modules/Score/data/getColumns.tsx
Labels: code:client

#1066 feat: add notification that the student already has a mentor
  client/src/components/UserSearch.tsx
  client/src/services/course.ts
  server/src/repositories/student.repository.ts
Labels: code:client, code:server

#1058 chore(deps): update typescript-eslint monorepo to v5.4.0
  client/package-lock.json
  client/package.json
  nestjs/package-lock.json
  nestjs/package.json
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:client, code:server, renovate

#1075 fix(deps): update dependency @nestjs/config to v1.1.2
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1079 fix: make submission after deadline unable in UI
  client/src/pages/course/student/cross-check-submit.tsx
  client/src/services/course.ts
  server/src/routes/course/crossCheck/getTaskDetails.ts
  server/src/services/crossCheck.service.ts
Labels: area:crosscheck, ⛓ dependencies, code:client, code:server

#1082 chore(deps): update dependency eslint to v8.3.0
  client/package-lock.json
  client/package.json
  nestjs/package-lock.json
  nestjs/package.json
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:client, code:server, renovate

#1074 chore(deps): update nest monorepo
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1063 Add epam email in profile
  client/src/components/Profile/ContactsCard.tsx
  client/src/components/Profile/__test__/ContactsCard.test.tsx
  client/src/components/Profile/__test__/__snapshots__/ContactsCard.test.tsx.snap
  common/models/profile.ts
  server/src/routes/profile/save.ts
  server/src/routes/profile/user-info.ts
Labels: code:client, code:server
