Repository rolling-scopes/rsschool-app, pull requests merged in 2022-03, with the labels that each got.

#1267 feat: add solidarity component
  .github/workflows/pull_request.yml
  client/src/components/Header.tsx
  client/src/components/SolidarityUkraine.tsx
  client/src/modules/Registry/pages/Mentor/index.tsx
  client/src/modules/Registry/pages/Student/index.tsx
  client/src/services/cdn.ts
  nestjs/src/auth/strategies/dev.strategy.ts
Labels: deploy

#1269 fix: corejs score in dashboard and interviews
  client/src/domain/interview.ts
  server/src/services/course.service.ts
Labels: area:score, area:student, code:client, code:server

#1276 fix: get student summary route failing
  server/src/services/course.service.ts
Labels: 🐞 bug, area:student, code:server

#1277 fix: max course score on dashboard
  client/src/modules/StudentDashboard/components/MainStatsCard.tsx
Labels: 🐞 bug, area:student, code:client

#1253 chore: remove consent model
  client/src/components/Profile/ConsentsCard.tsx
  client/src/pages/profile/index.tsx
  server/src/models/consent.ts
  server/src/models/index.ts
  server/src/repositories/consent.repository.ts
  server/src/routes/consent/index.ts
  server/src/routes/course/crossCheck/createResult.ts
  server/src/routes/course/score/createSingleScore.ts
  server/src/routes/index.ts
  server/src/routes/profile/info.ts
  server/src/routes/profile/save.ts
  server/src/routes/registry/index.ts
  server/src/services/notification.service.ts
Labels: deploy

#1286 feat: migrate discord-servers to nestjs
  client/src/api/api.ts
  client/src/pages/admin/courses.tsx
  client/src/pages/admin/discord-server.tsx
  client/src/services/discordServer.ts
  nestjs/src/app.module.ts
  nestjs/src/discord-servers/discord-servers.controller.ts
  nestjs/src/discord-servers/discord-servers.module.ts
  nestjs/src/discord-servers/discord-servers.service.ts
  nestjs/src/discord-servers/dto/create-discord-server.dto.ts
  nestjs/src/discord-servers/dto/discord-server.dto.ts
  nestjs/src/discord-servers/dto/index.ts
  nestjs/src/discord-servers/dto/update-discord-server.dto.ts
  nestjs/src/spec.json
  server/src/routes/discordServer/index.ts
  server/src/routes/index.ts
Labels: code:client, code:server, area:tech

#1234 feat(home): update course selector
  client/src/modules/Home/components/CourseSelector/index.tsx
  client/src/modules/Home/pages/HomePage/index.tsx
Labels: deploy

#1238 fix: mentor registry
  client/src/modules/Registry/components/MentorRegistrationGeneral/index.tsx
  client/src/modules/Registry/components/MentorRegistrationMentorship/index.tsx
  client/src/modules/Registry/components/MentorStep/index.tsx
  client/src/modules/Registry/components/MentorStepAbout/index.tsx
  client/src/modules/Registry/components/MentorStepFooter/index.tsx
  client/src/modules/Registry/components/MentorStepRegistration/index.tsx
  client/src/modules/Registry/components/MentorStepSuccess/index.tsx
  client/src/modules/Registry/components/NoCourses/index.tsx
  client/src/modules/Registry/components/index.ts
  client/src/modules/Registry/components/index.tsx
  client/src/modules/Registry/pages/Mentor/formData.ts
  client/src/modules/Registry/pages/Mentor/index.tsx
  client/src/modules/Registry/pages/Student/index.tsx
Labels: deploy

#1323 feat: add self-study option for expel
  client/src/pages/course/mentor/expel-student.tsx
  client/src/services/course.ts
  server/src/repositories/student.repository.ts
  server/src/routes/course/student.ts
Labels: area:student, code:client, code:server
