Repository rolling-scopes/rsschool-app, pull requests merged in 2022-02, with the labels that each got.

#1165 feat: cv choose courses
  client/src/components/cv/EditCV.tsx
  client/src/components/cv/forms/ContactsForm.tsx
  client/src/components/cv/forms/UserDataForm.tsx
  client/src/components/cv/forms/VisibleCoursesForm.tsx
  client/src/components/cv/forms/index.ts
  client/src/modules/Opportunities/components/FeedbackList.tsx
  client/src/modules/Opportunities/models.ts
  client/src/modules/Opportunities/services/opportunities.ts
  docs/features/cv.md
  docs/features/img/cv/cv-empty.JPG
  docs/features/img/cv/cv-form-filled.JPG
  docs/features/img/cv/cv-view-filled.JPG
  docs/features/img/cv/cv-view-print.JPG
  server/src/migrations/1642884123347-ResumeSelectCourses.ts
  server/src/migrations/index.ts
  server/src/models/resume.ts
  server/src/repositories/resume.repository.ts
  server/src/repositories/student.repository.ts
  server/src/routes/opportunities/getResume.ts
  server/src/services/applicant.service.ts
  server/src/services/resume.service.ts
Labels: code:client, code:server

#1146 feat: add redirect url
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/src/auth/auth.controller.ts
  nestjs/src/auth/auth.module.ts
  nestjs/src/auth/auth.service.spec.ts
  nestjs/src/auth/auth.service.ts
  nestjs/src/auth/strategies/github.strategy.ts
  server/src/migrations/1643550350939-LoginState.ts
  server/src/migrations/index.ts
  server/src/models/index.ts
  server/src/models/loginState.ts
Labels: ⛓ dependencies, code:server

#1189 fix truncate redirect path to pathname
  client/src/pages/course/_middleware.ts
Labels: code:client

#1190 refactor: course access
  nestjs/src/auth/auth-user.model.spec.ts
  nestjs/src/auth/auth-user.model.ts
  nestjs/src/auth/auth.module.ts
  nestjs/src/auth/auth.repository.ts
  nestjs/src/auth/auth.service.spec.ts
  nestjs/src/auth/auth.service.ts
  nestjs/src/auth/strategies/jwt.strategy.ts
  nestjs/src/core/pino.ts
  nestjs/src/profile/profile.controller.ts
  nestjs/src/profile/profile.service.ts
  nestjs/src/users/users.service.ts
  server/src/routes/auth/devAuthMiddleware.ts
  server/src/routes/auth/index.ts
  server/src/routes/index.ts
Labels: code:client, code:server

#1191 feat(interview): add interview points description
  client/src/data/interviews/corejs1.ts
  client/src/data/interviews/types.ts
  client/src/modules/Interviews/pages/InterviewFeedback/index.tsx
Labels: code:client

#1192 feat(interview): update feedback from
  client/src/api/api.ts
  client/src/modules/Mentor/pages/StudentFeedback/index.tsx
  client/src/modules/Mentor/pages/Students/index.tsx
  nestjs/src/courses/students/feedbacks/dto/create-student-feedback.dto.ts
  nestjs/src/spec.json
  server/src/models/student-feedback.ts
Labels: code:client, code:server

#1194 feat(interview): create corejs2 template
  client/src/data/interviews/corejs1.ts
  client/src/data/interviews/corejs2.ts
  client/src/data/interviews/index.ts
Labels: area:interview, code:client

#1186 feat(notifications): database schema
  server/src/migrations/1643926895264-Notifications.ts
  server/src/migrations/index.ts
  server/src/models/NotificationChannelSettings.ts
  server/src/models/index.ts
  server/src/models/notification.ts
  server/src/models/notificationChannel.ts
  server/src/models/notificationUserSettings.ts
Labels: area:notifications, code:server

#1188 Notifications api
  client/src/api/api.ts
  client/src/components/PageLayout.tsx
  client/src/components/Table/renderers.tsx
  client/src/modules/Notifications/components/NotificationSettingsModal.tsx
  client/src/modules/Notifications/components/NotificationSettingsTable.tsx
  client/src/modules/Notifications/components/NotificationsUserSettingsTable.tsx
  client/src/modules/Notifications/pages/AdminNotificationsPage/AdminNotificationsSettingsPage.tsx
  client/src/modules/Notifications/pages/AdminNotificationsPage/index.tsx
  client/src/modules/Notifications/pages/UserNotificationsSettingsPage.tsx
  client/src/modules/Notifications/services/notifications.ts
  client/src/services/features.tsx
  nestjs/src/app.module.ts
  nestjs/src/auth/auth-user.model.ts
  nestjs/src/notifications/dto/notification.dto.ts
  nestjs/src/notifications/dto/update-notification.dto.ts
  nestjs/src/notifications/notifications.controller.ts
  nestjs/src/notifications/notifications.module.ts
  nestjs/src/notifications/notifications.service.ts
  nestjs/src/spec.json
  nestjs/src/users/dto/notification-user-settings.dto.ts
  nestjs/src/users/dto/update-notification-user-settings.dto.ts
  nestjs/src/users/users.controller.ts
  nestjs/src/users/users.module.ts
Labels: area:notifications, code:client

#1195 feat(notifications): add sending notification via cloud rest. handle …
  client/src/modules/Notifications/components/NotificationsUserSettingsTable.tsx
  docker-compose.yml
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/src/app.module.ts
  nestjs/src/config/config.service.ts
  nestjs/src/courses/courses.service.ts
  nestjs/src/notifications/dto/send-notification.dto.ts
  nestjs/src/notifications/notificationIds.ts
  nestjs/src/notifications/notifications.controller.ts
  nestjs/src/notifications/notifications.module.ts
  nestjs/src/notifications/notifications.service.ts
  nestjs/src/registry/dto/approve-mentor.dto.ts
  nestjs/src/registry/registry.controller.ts
  nestjs/src/registry/registry.module.ts
  nestjs/src/registry/registry.service.ts
  nestjs/src/spec.json
  nestjs/src/users/users.controller.ts
  nestjs/src/users/users.service.ts
  server/src/models/NotificationChannelSettings.ts
  server/src/models/notificationChannel.ts
Labels: ⛓ dependencies, code:client, code:server

#1205 feat: role guard to accept app and course roles
  client/src/modules/Home/components/HomeSummary/index.tsx
  nestjs/src/alerts/alerts.controller.ts
  nestjs/src/auth/auth-user.model.ts
  nestjs/src/auth/role.decorator.ts
  nestjs/src/auth/role.guard.ts
  nestjs/src/courses/courses.controller.ts
  nestjs/src/disciplines/disciplines.controller.ts
  nestjs/src/notifications/notifications.controller.ts
  nestjs/src/registry/registry.controller.ts
  server/src/config.ts
Labels: code:client, code:server

#1209 Notifications api. connections. refactoring,
  client/src/api/api.ts
  client/src/modules/Notifications/components/Consents.tsx
  client/src/modules/Notifications/components/NotificationsUserSettingsTable.tsx
  client/src/modules/Notifications/pages/UserNotificationsSettingsPage.tsx
  client/src/modules/Notifications/services/notifications.ts
  docker-compose.yml
  nestjs/src/auth/auth.controller.spec.ts
  nestjs/src/auth/auth.controller.ts
  nestjs/src/auth/auth.module.ts
  nestjs/src/auth/auth.service.spec.ts
  nestjs/src/auth/auth.service.ts
  nestjs/src/auth/dto/AuthConnectionDto.ts
  nestjs/src/auth/strategies/github.strategy.ts
  nestjs/src/notifications/dto/notification.dto.ts
  nestjs/src/notifications/dto/send-notification.dto.ts
  nestjs/src/notifications/notifications.module.ts
  nestjs/src/notifications/notifications.service.ts
  nestjs/src/spec.json
  nestjs/src/users/dto/notification-connection-exists.dto.ts
  nestjs/src/users/dto/notification-connection.dto.ts
  nestjs/src/users/dto/notification-user-settings.dto.ts
  nestjs/src/users/dto/update-notification-user-settings.dto.ts
  nestjs/src/users/dto/upsert-notification-connection.dto.ts
  nestjs/src/users/users.controller.ts
  nestjs/src/users/users.module.ts
  nestjs/src/users/users.notifications.controller.ts
  nestjs/src/users/users.notifications.service.ts
  server/src/migrations/1644695410918-NotificationConnection.ts
  server/src/migrations/index.ts
  server/src/models/index.ts
  server/src/models/loginState.ts
  server/src/models/notification.ts
  server/src/models/notificationChannelSettings.ts
  server/src/models/notificationUserConnection.ts
  server/src/models/notificationUserSettings.ts
  server/src/models/user.ts
Labels: code:client, code:server

#1196 Feature Branch deployment
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_close.yml
  .gitignore
  client/.dockerignore
  client/.gitignore
  client/Dockerfile
  client/Dockerfile.lambda
  client/lambda/app.ts
  client/lambda/event.json
  client/lambda/eventToReqRes.ts
  client/next.config.js
  client/next.config.prod.js
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  client/specs/smoke.spec.ts
  client/src/__tests__/ProfilePage.test.tsx
  client/src/components/Profile/__test__/PublicFeedbackModal.test.tsx
  client/src/components/Profile/__test__/__snapshots__/PublicFeedbackCard.test.tsx.snap
  client/src/modules/Home/data/getServerSideProps.ts
  client/src/pages/course/_middleware.ts
  nestjs/.dockerignore
  nestjs/Dockerfile.lambda
  nestjs/lambda/app.js
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/src/auth/auth.controller.ts
  nestjs/src/auth/strategies/dev.strategy.ts
  nestjs/src/core/pino.ts
  nestjs/src/main.lambda.ts
  nestjs/src/main.ts
  nestjs/src/setup.ts
  server/.dockerignore
  server/Dockerfile.lambda
  server/lambda/app.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/index.ts
  setup/backup-local.sql
  setup/cdk/App.ts
  setup/cdk/DockerFunctionConstruct.ts
  setup/cdk/Stack.ts
  setup/cdk/cdk.json
  setup/cdk/package-lock.json
  setup/cdk/package.json
Labels: ⛓ dependencies, code:client, code:server, deploy

#1218 chore: update dependencies
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_close.yml
  client/Dockerfile
  client/jest.config.js
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  nestjs/package-lock.json
  nestjs/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  setup/cdk/DockerFunctionConstruct.ts
  setup/cdk/package-lock.json
  setup/cdk/package.json
Labels: ⛓ dependencies, code:client, code:server, deploy

#1220 chore: update destroy flow
  .github/workflows/pull_request_close.yml
  renovate.json
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, deploy

#1222 feat(mentor): add my students page
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/data-issue-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
  .github/workflows/renovate.yml
  .prettierignore
  client/src/index.html
  client/src/modules/Home/data/links.tsx
  client/tsconfig.json
  docs/index.html
  package.json
Labels: deploy

#1228 chore(deps): lock file maintenance
  client/package-lock.json
  package-lock.json
Labels: renovate

#1225 fix: github id match
  client/src/utils/text-utils.ts
Labels: area:score

#1211 fix: CV About format & minor fixes
  client/src/components/cv/forms/VisibleCoursesForm.tsx
  client/src/modules/Opportunities/components/AboutSection.tsx
  client/src/modules/Opportunities/components/CoursesSection.tsx
  client/src/modules/Opportunities/components/FeedbackList.tsx
Labels: code:client, area:opportunities

#1208 fix: interviews score displaying
  server/src/repositories/courseTask.repository.ts
  server/src/routes/profile/student-stats.ts
Labels: area:schedule, area:profile, area:interview, area:score, code:server, deploy

#1260 fix: schedule
  server/src/repositories/courseTask.repository.ts
Labels: deploy

#1266 feat: add cdn service
  .github/workflows/deploy.yaml
  .github/workflows/pull_request.yml
  client/next.config.prod.js
  client/src/modules/Registry/hooks/useStudentsCourseData.tsx
  client/src/modules/Registry/pages/Mentor/index.tsx
  client/src/services/cdn.ts
  client/src/services/courses.ts
Labels: deploy
