Repository rolling-scopes/rsschool-app, pull requests merged in 2022-01, with the labels that each got.

#1122 feat(logger): add cloudwatch logger to nextjs
  client/jest.config.js
  client/package.json
  client/src/api/.openapi-generator/VERSION
  client/src/api/api.ts
  client/src/api/base.ts
  client/src/modules/Mentor/hooks/useMentorStudents.tsx
  client/src/modules/Mentor/pages/StudentFeedback/index.tsx
  client/src/pages/course/mentor/expel-student.tsx
  client/src/pages/profile/index.tsx
  client/src/services/api.ts
  client/src/services/user.ts
  client/src/utils/axios.ts
  docker-compose.yml
  nestjs/openapitools.json
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/src/app.module.ts
  nestjs/src/core/pino.ts
  nestjs/src/openapi-spec.ts
  nestjs/src/spec.json
  server/package.json
  server/src/routes/index.ts
Labels: ⛓ dependencies, code:client, code:server

#1125 chore(deps): pin dependencies
  server/package-lock.json
  server/package.json
  tools/bumblebee/package-lock.json
  tools/bumblebee/package.json
Labels: ⛓ dependencies, code:server, renovate

#1132 fix(auth): restore supervisor permissions
  .github/workflows/pull_request.yml
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/src/auth/auth-user.model.spec.ts
  nestjs/src/auth/auth-user.model.ts
  nestjs/src/auth/auth.controller.spec.ts
  nestjs/src/auth/auth.service.spec.ts
Labels: ⛓ dependencies

#1136 feat: add rs school app docs
  README.md
  client/src/components/Header.tsx
  docs/README.md
  docs/_sidebar.md
  docs/platform/about.md
  docs/platform/adding-tests.md
  docs/platform/cross-check-flow.md
  docs/platform/img/adding-tests-1.png
  docs/platform/img/adding-tests-2.png
  docs/platform/img/adding-tests-3.png
  docs/platform/img/adding-tests-4.png
  docs/platform/img/adding-tests-5.png
  docs/platform/img/adding-tests-6.png
  docs/platform/img/adding-tests-7.png
  docs/platform/img/adding-tests-8.png
  docs/platform/img/autotest-details.jpg
  docs/platform/img/no-access.png
  docs/platform/img/schedule-1.png
  docs/platform/img/schedule-10.png
  docs/platform/img/schedule-2.png
  docs/platform/img/schedule-3.png
  docs/platform/img/schedule-4.png
  docs/platform/img/schedule-5.png
  docs/platform/img/schedule-6.png
  docs/platform/img/schedule-7.png
  docs/platform/img/schedule-8.png
  docs/platform/img/schedule-9.png
  docs/platform/img/tasks-1.jpg
  docs/platform/img/team-allocation-1.png
  docs/platform/img/team-allocation-2.png
  docs/platform/img/team-allocation-3.png
  docs/platform/img/team-allocation-4.png
  docs/platform/notifications.md
  docs/platform/shedule.md
  docs/platform/tasks.md
  docs/platform/team-allocation.md
  docs/platform/typical-problems.md
Labels: code:client, area:docs

#1128 fix(deps): update dependency octokit to v1.7.1
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, renovate

#1129 fix(deps): update dependency react-use to v17.3.2
  client/package-lock.json
  client/package.json
Labels: ⛓ dependencies, code:client, renovate

#1130 fix(deps): update dependency luxon to v2.3.0
  server/package-lock.json
  server/package.json
Labels: ⛓ dependencies, code:server, renovate

#1126 fix(deps): update dependency @nestjs/config to v1.1.6
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1127 fix(deps): update dependency @nestjs/typeorm to v8.0.3
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1138 fix(score): reset button
  client/package-lock.json
  client/package.json
  client/src/components/Profile/__test__/__snapshots__/ContactsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/CoreJsIviewsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/EducationCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PermissionsSettingsDrawer.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PreScreeningIviewCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/StudentStatsCard.test.tsx.snap
  client/src/components/Table/columns.tsx
  client/src/modules/Score/data/getColumns.tsx
Labels: ⛓ dependencies, code:client

#1139 fix(ui): various fixes
  client/src/components/PageLayout.tsx
  client/src/components/withSession.tsx
  client/src/domain/user.test.tsx
  client/src/domain/user.ts
  client/src/modules/Home/pages/HomePage/index.tsx
  client/src/modules/Mentor/hooks/useMentorStudents.tsx
  client/src/modules/Mentor/pages/StudentFeedback/index.tsx
  client/src/modules/Mentor/pages/Students/index.tsx
  client/src/pages/admin/events.tsx
  client/src/pages/admin/tasks.tsx
  client/src/pages/course/mentor/expel-student.tsx
Labels: code:client

#1141 feat(interview): new feedback page
  client/src/api/api.ts
  client/src/components/CoursePageLayout.tsx
  client/src/components/withSession.tsx
  client/src/data/interviews/corejs1.ts
  client/src/data/interviews/index.ts
  client/src/data/interviews/types.ts
  client/src/modules/Course/components/CourseNoAccess.tsx
  client/src/modules/Course/contexts/SessionContext.tsx
  client/src/modules/Course/contexts/index.ts
  client/src/modules/Course/data/getCourseProps.ts
  client/src/modules/Course/data/index.ts
  client/src/modules/Course/pages/CouseNoAccess/index.tsx
  client/src/modules/Home/data/loadHomeData.ts
  client/src/modules/Interviews/pages/InterviewFeedback/getServerSideProps.ts
  client/src/modules/Interviews/pages/InterviewFeedback/index.tsx
  client/src/modules/Mentor/pages/StudentFeedback/index.tsx
  client/src/modules/Registry/components/GeneralMentor/index.tsx
  client/src/modules/Registry/pages/Mentor/index.tsx
  client/src/modules/Score/components/ScoreTable/index.tsx
  client/src/modules/Score/components/SettingsModal/index.tsx
  client/src/modules/Score/pages/ScorePage/index.tsx
  client/src/pages/course/403.tsx
  client/src/pages/course/interview/[type]/feedback.tsx
  client/src/pages/course/mentor/feedback/index.tsx
  client/src/pages/course/mentor/interview-corejs.tsx
  client/src/services/courses.ts
  client/src/services/models.ts
  nestjs/src/app.module.ts
  nestjs/src/auth/auth.service.spec.ts
  nestjs/src/auth/auth.service.ts
  nestjs/src/courses/course-access.service.ts
  nestjs/src/courses/courses.controller.ts
  nestjs/src/courses/courses.module.ts
  nestjs/src/courses/dto/course.dto.ts
  nestjs/src/courses/index.ts
  nestjs/src/courses/interviews/dto/index.ts
  nestjs/src/courses/interviews/dto/interview.dto.ts
  nestjs/src/courses/interviews/index.ts
  nestjs/src/courses/interviews/interviews.controller.ts
  nestjs/src/courses/interviews/interviews.service.ts
  nestjs/src/courses/tasks/course-tasks.controller.ts
  nestjs/src/courses/tasks/course-tasks.service.ts
  nestjs/src/courses/tasks/dto/course-task.dto.ts
  nestjs/src/courses/tasks/dto/index.ts
  nestjs/src/courses/tasks/index.ts
  nestjs/src/profile/dto/profile-course.dto.ts
  nestjs/src/profile/profile.controller.ts
  nestjs/src/spec.json
  server/src/models/courseTask.ts
  server/src/routes/course/schedule.ts
  setup/nginx/nginx.conf
Labels: code:client, code:server

#1143 fix(interview): different interview fixes
  client/src/modules/Interviews/pages/InterviewFeedback/index.tsx
  client/src/pages/course/mentor/interviews.tsx
  nestjs/package-lock.json
  nestjs/package.json
  nestjs/src/app.module.ts
  nestjs/src/auth/course.guard.ts
  nestjs/src/auth/index.ts
  nestjs/src/constants.ts
  nestjs/src/courses/courses.module.ts
  nestjs/src/courses/interviews/interviews.controller.ts
  nestjs/src/courses/tasks/course-tasks.controller.ts
  server/src/repositories/interview.repository.ts
  server/src/routes/course/interviews.ts
  setup/nginx/nginx.conf
Labels: ⛓ dependencies, code:client, code:server

#1142 feat: user notification presentation draft
  .gitignore
  client/src/components/AdminSider.tsx
  client/src/components/Header.tsx
  client/src/components/PageLayout.tsx
  client/src/components/Table/renderers.tsx
  client/src/modules/Notifications/components/Consents.tsx
  client/src/modules/Notifications/components/NotificationsTable.tsx
  client/src/modules/Notifications/pages/AdminNotificationsPage/AdminNotificationsSettingsPage.tsx
  client/src/modules/Notifications/pages/AdminNotificationsPage/Messenger.tsx
  client/src/modules/Notifications/pages/AdminNotificationsPage/index.tsx
  client/src/modules/Notifications/pages/UserNotificationsSettingsPage.tsx
  client/src/modules/Notifications/services/notifications.ts
  client/src/pages/_app.tsx
  client/src/pages/admin/notifications.tsx
  client/src/pages/profile/index.tsx
  client/src/pages/profile/notifications.tsx
  client/src/services/features.tsx
  nestjs/.eslintrc.js
Labels: code:client

#1148 fix(deps): update nest monorepo to v8.2.6
  nestjs/package-lock.json
  nestjs/package.json
Labels: ⛓ dependencies, renovate

#1145 feat(mentor): student feedback form
  client/jest.config.js
  client/src/components/Profile/PreScreeningIviewModal.tsx
  client/src/components/cv/forms/UserDataForm.tsx
  client/src/data/english.ts
  client/src/data/primarySkills.ts
  client/src/data/tshirts.ts
  client/src/modules/Course/data/getCourseProps.ts
  client/src/modules/Mentor/data/getServerSideProps.ts
  client/src/modules/Mentor/data/softSkills.ts
  client/src/modules/Mentor/pages/StudentFeedback/index.tsx
  client/src/modules/Mentor/pages/Students/index.tsx
  client/src/modules/Opportunities/models.ts
  client/src/pages/admin/courses.tsx
  client/src/pages/admin/events.tsx
  client/src/pages/admin/tasks.tsx
  client/src/pages/course/mentor/students.tsx
  client/src/services/models.ts
  client/src/services/reference-data/education.ts
  client/src/services/reference-data/index.ts
  client/src/services/routes.ts
Labels: code:client

#1152 refactor: change registration label & fix minor bug
  client/src/modules/Home/pages/HomePage/index.tsx
  client/src/modules/Registry/pages/Student/index.tsx
Labels: code:client

#1153 fix(feedback): improve feedback form
  client/src/components/PageLayout.tsx
  client/src/domain/user.ts
  client/src/modules/Mentor/hooks/useMentorStudents.tsx
  client/src/modules/Mentor/pages/StudentFeedback/index.tsx
  client/src/modules/Mentor/pages/Students/index.tsx
  client/src/modules/Score/data/getColumns.tsx
  client/src/pages/course/mentor/expel-student.tsx
  client/src/services/routes.ts
Labels: code:client

#1163 fix: change link
  client/src/data/interviews/corejs1.ts
Labels: code:client

#1140 Schedule refactoring
  client/src/components/Schedule/FormEntity.tsx
  client/src/components/Schedule/TableView.tsx
  client/src/components/Schedule/model.ts
  client/src/components/Table/renderers.tsx
  client/src/pages/course/schedule.tsx
  client/src/styles/main.css
Labels: code:client

#1168 chore: update deps
  client/package-lock.json
  client/package.json
  client/src/components/Profile/__test__/__snapshots__/CommonCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/ContactsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/CoreJsIviewsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/EducationCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/MainCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PreScreeningIviewCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/StudentStatsCard.test.tsx.snap
Labels: ⛓ dependencies, code:client

#1169 feat: nestjs migration
  client/src/api/api.ts
  nestjs/src/auth/auth.controller.ts
  nestjs/src/courses/tasks/course-tasks.controller.ts
  nestjs/src/courses/tasks/course-tasks.service.ts
  nestjs/src/courses/tasks/dto/course-task.dto.ts
  nestjs/src/spec.json
Labels: code:client

#1172 feat(tasks): add skills field and remove verification
  client/src/components/Schedule/FormEntity.tsx
  client/src/components/Schedule/ModalFormEntity.tsx
  client/src/components/Schedule/TaskDetails.tsx
  client/src/data/skills.ts
  client/src/data/taskTypes.ts
  client/src/modules/Course/data/getCourseProps.ts
  client/src/modules/StudentDashboard/components/NextEventCard.tsx
  client/src/pages/admin/tasks.tsx
  client/src/pages/course/admin/tasks.tsx
  client/src/pages/course/mentor/submit-review.tsx
  client/src/pages/course/schedule-old.tsx
  client/src/pages/course/student/auto-test.tsx
  client/src/pages/index.tsx
  client/src/services/course.ts
  client/src/services/task.ts
  server/src/migrations/1643481312933-Task.ts
  server/src/migrations/index.ts
  server/src/models/task.ts
  server/src/repositories/courseTask.repository.ts
  server/src/repositories/mentor.repository.ts
  server/src/routes/course/tasks/getCourseTask.ts
Labels: code:client, code:server

#1174 fix(tasks): task type update
  client/src/components/Schedule/EventDetails.tsx
  client/src/components/Schedule/ListView.tsx
  client/src/components/Schedule/TableView.tsx
  client/src/components/Schedule/UserSettings/userSettingsHandlers.ts
  client/src/components/Table/renderers.tsx
  client/src/data/taskTypes.ts
  client/src/pages/course/schedule-old.tsx
Labels: code:client

#1166 fix: fix tasks order in profile student card
  server/src/routes/profile/student-stats.ts
Labels: code:server

#1176 fix(course): access for recently registered
  client/src/modules/Home/data/getCourses.ts
  client/src/modules/Home/data/links.tsx
  client/src/modules/Home/data/loadHomeData.ts
  client/src/modules/Home/hooks/useStudentSummary.tsx
  client/src/modules/Home/pages/HomePage/index.tsx
  client/src/services/user.ts
Labels: code:client
