Repository rolling-scopes/rsschool-app, pull requests merged in 2022-04, with the labels that each got.

#1353 feat: redesign schedule settings
  client/src/components/Schedule/CalendarView/Calendar.tsx
  client/src/components/Schedule/CalendarView/DesktopCalendar.tsx
  client/src/components/Schedule/CalendarView/MobileCalendar.tsx
  client/src/components/Schedule/CalendarView/ModalWindow.tsx
  client/src/components/Schedule/CalendarView/index.ts
  client/src/components/Schedule/CalendarView/utils.ts
  client/src/components/Schedule/EventDetails/EventDetails.tsx
  client/src/components/Schedule/EventDetails/TaskDetails.tsx
  client/src/components/Schedule/EventDetails/index.ts
  client/src/components/Schedule/ListView/ListView.tsx
  client/src/components/Schedule/ListView/index.ts
  client/src/components/Schedule/ManageEventModalForm/ManageEventForm.tsx
  client/src/components/Schedule/ManageEventModalForm/ManageEventModalForm.tsx
  client/src/components/Schedule/ManageEventModalForm/index.ts
  client/src/components/Schedule/ScheduleView/ScheduleView.tsx
  client/src/components/Schedule/ScheduleView/index.ts
  client/src/components/Schedule/SettingsDrawer/ChangeTagColors.tsx
  client/src/components/Schedule/SettingsDrawer/SettingsDrawer.tsx
  client/src/components/Schedule/SettingsDrawer/SettingsItem.tsx
  client/src/components/Schedule/SettingsDrawer/ShowTableColumns.tsx
  client/src/components/Schedule/SettingsDrawer/TaskLimits.tsx
  client/src/components/Schedule/SettingsDrawer/index.ts
  client/src/components/Schedule/SettingsPanel/AddEventButton.tsx
  client/src/components/Schedule/SettingsPanel/HideDoneTasksButton.tsx
  client/src/components/Schedule/SettingsPanel/HidePassedEventsButton.tsx
  client/src/components/Schedule/SettingsPanel/ManageCsvButtons.tsx
  client/src/components/Schedule/SettingsPanel/SettingsPanel.tsx
  client/src/components/Schedule/SettingsPanel/TimezoneSelect.tsx
  client/src/components/Schedule/SettingsPanel/ViewModeSelect.tsx
  client/src/components/Schedule/SettingsPanel/index.ts
  client/src/components/Schedule/TableView/EditableCell.tsx
  client/src/components/Schedule/TableView/TableView.tsx
  client/src/components/Schedule/TableView/index.ts
  client/src/components/Schedule/UserSettings/TagColor.tsx
  client/src/components/Schedule/UserSettings/TagColorIcon.tsx
  client/src/components/Schedule/UserSettings/UserSettings.tsx
  client/src/components/Schedule/UserSettings/userSettingsHandlers.ts
  client/src/components/Schedule/constants.ts
  client/src/components/Schedule/index.ts
  client/src/components/Schedule/model.ts
  client/src/components/Schedule/useScheduleSettings.ts
  client/src/components/Schedule/utils.ts
  client/src/components/Table/FilterComponent.tsx
  client/src/components/Table/renderers.tsx
  client/src/pages/course/event.tsx
  client/src/pages/course/schedule.tsx
Labels: area:schedule, code:client, 🧑‍💻code, deploy

#1368 feat(course): add course icons
  client/public/static/svg/disciplines/android-archived.svg
  client/public/static/svg/disciplines/android.svg
  client/public/static/svg/disciplines/angular-archived.svg
  client/public/static/svg/disciplines/angular.svg
  client/public/static/svg/disciplines/ios-archived.svg
  client/public/static/svg/disciplines/ios.svg
  client/public/static/svg/disciplines/javascript-archived.svg
  client/public/static/svg/disciplines/javascript.svg
  client/public/static/svg/disciplines/machine-learning-archived.svg
  client/public/static/svg/disciplines/machine-learning.svg
  client/public/static/svg/disciplines/nodejs-archived.svg
  client/public/static/svg/disciplines/nodejs-aws-archived.svg
  client/public/static/svg/disciplines/nodejs-aws.svg
  client/public/static/svg/disciplines/nodejs.svg
  client/public/static/svg/disciplines/reactjs-archived.svg
  client/public/static/svg/disciplines/reactjs.svg
  client/src/api/api.ts
  client/src/modules/Home/components/CourseSelector/index.tsx
  client/src/pages/admin/courses.tsx
  nestjs/src/courses/dto/course.dto.ts
  nestjs/src/spec.json
  server/src/migrations/1649505252996-CourseLogo.ts
  server/src/migrations/index.ts
  server/src/models/course.ts
Labels: area:course

#1380 chore: add adminLayout to admin pages
  client/src/components/AdminSider.tsx
  client/src/components/PageLayout.tsx
  client/src/components/Sider/AdminSider.tsx
  client/src/components/Sider/data/menuItems.tsx
  client/src/modules/Home/pages/HomePage/index.tsx
  client/src/modules/InterviewQuestions/pages/InterviewQuestionsPage/index.tsx
  client/src/modules/Notifications/pages/AdminNotificationsPage/index.tsx
  client/src/pages/admin/courses.tsx
  client/src/pages/admin/discord-server.tsx
  client/src/pages/admin/events.tsx
  client/src/pages/admin/mentor-registry.tsx
  client/src/pages/admin/registrations.tsx
  client/src/pages/admin/tasks.tsx
  client/src/pages/admin/user-group.tsx
  client/src/pages/admin/users.tsx
Labels: code:client
