Repository rolling-scopes/rsschool-app, pull requests merged in 2023-07, with the labels that each got.

#2227 feat: add access in teams for dementors
  client/src/modules/Home/data/links.tsx
  client/src/modules/TeamDistribution/components/TeamDistributionCard/Actions.tsx
  client/src/modules/TeamDistribution/components/TeamDistributionCard/TeamDistributionCard.tsx
  client/src/modules/TeamDistribution/pages/TeamDistributions/TeamDistributions.tsx
  nestjs/src/courses/team-distribution/registered-student-guard.ts
  nestjs/src/courses/team-distribution/team-distribution.controller.ts
  nestjs/src/courses/team-distribution/team.controller.ts
Labels: code:client, code:server, area:teams

#2193 Feat: Mentor's check - Show already submitted url
  client/src/api/api.ts
  client/src/components/Forms/ModalSubmitForm.tsx
  client/src/modules/StudentDashboard/components/SubmitTaskSolution/SubmitTaskSolution.tsx
  client/src/modules/StudentDashboard/hooks/useSubmitTaskSolution.test.ts
  client/src/modules/StudentDashboard/hooks/useSubmitTaskSolution.ts
  nestjs/src/courses/course-tasks/course-tasks.controller.ts
  nestjs/src/courses/course-tasks/course-tasks.service.ts
  nestjs/src/courses/course-tasks/dto/course-task.dto.ts
  nestjs/src/spec.json
Labels: deploy

#2236 feat: migrate to color picker
  client/package-lock.json
  client/package.json
  client/src/modules/Schedule/components/SettingsDrawer/ChangeTagColors.tsx
  client/src/modules/Schedule/constants.ts
Labels: area:schedule

#2234 feat: add command search functionality
  client/src/api/api.ts
  client/src/modules/Teams/components/TeamsSection/TeamsSection.tsx
  nestjs/src/courses/team-distribution/team-distribution.controller.ts
  nestjs/src/courses/team-distribution/team-distribution.service.ts
  nestjs/src/courses/team-distribution/team.controller.ts
  nestjs/src/courses/team-distribution/team.service.ts
  nestjs/src/spec.json
Labels: area:teams
