Repository rolling-scopes/rsschool-app, pull requests merged in 2023-11, with the labels that each got.

#2305 refactor: admin tasks page
  client/specs/smoke.spec.ts
  client/src/data/taskTypes.ts
  client/src/modules/CourseManagement/components/CourseTaskModal/index.tsx
  client/src/modules/Tasks/components/CrossCheckTaskCriteriaPanel/CrossCheckTaskCriteriaPanel.test.tsx
  client/src/modules/Tasks/components/CrossCheckTaskCriteriaPanel/CrossCheckTaskCriteriaPanel.tsx
  client/src/modules/Tasks/components/GitHubPanel/GitHubPanel.test.tsx
  client/src/modules/Tasks/components/GitHubPanel/GitHubPanel.tsx
  client/src/modules/Tasks/components/JsonAttributesPanel/JsonAttributesPanel.test.tsx
  client/src/modules/Tasks/components/JsonAttributesPanel/JsonAttributesPanel.tsx
  client/src/modules/Tasks/components/TaskModal/TaskModal.test.tsx
  client/src/modules/Tasks/components/TaskModal/TaskModal.tsx
  client/src/modules/Tasks/components/TaskSettings/TaskSettings.test.tsx
  client/src/modules/Tasks/components/TaskSettings/TaskSettings.tsx
  client/src/modules/Tasks/components/TasksTable/TasksTable.test.tsx
  client/src/modules/Tasks/components/TasksTable/TasksTable.tsx
  client/src/modules/Tasks/components/index.ts
  client/src/modules/Tasks/constants.ts
  client/src/modules/Tasks/pages/TasksPage/TasksPage.tsx
  client/src/modules/Tasks/pages/index.ts
  client/src/modules/Tasks/types.ts
  client/src/modules/Tasks/utils/test-utils.ts
  client/src/pages/admin/tasks.tsx
  nestjs/src/courses/course-tasks/dto/course-task.dto.ts
  nestjs/src/courses/course-tasks/dto/create-course-task.dto.ts
  nestjs/src/courses/course-tasks/dto/update-course-task.dto.ts
Labels: area:task, code:client, code:server, deploy

#2338 feat: add criteria settings set based on task type
  client/src/components/Forms/ModalForm.tsx
  client/src/hooks/index.ts
  client/src/hooks/useModal/useModalForm.tsx
  client/src/modules/Tasks/components/TaskModal/TaskModal.test.tsx
  client/src/modules/Tasks/components/TaskModal/TaskModal.tsx
  client/src/modules/Tasks/components/TaskSettings/TaskSettings.test.tsx
  client/src/modules/Tasks/components/TaskSettings/TaskSettings.tsx
  client/src/modules/Tasks/constants.ts
  client/src/modules/Tasks/pages/TasksPage/TasksPage.tsx
  client/src/modules/Tasks/types.ts
Labels: area:task, code:client, deploy

#2362 fix: add wrap on profile languages
  client/src/components/Profile/LanguagesCard.tsx
Labels: code:client

#2363 fix: adjust popup positioning
  client/src/modules/Score/data/getTaskColumns.tsx
Labels: area:score, code:client, deploy

#2369 feat: profile obfuscation and Podman migration
  CONTRIBUTING.md
  README.md
  client/package.json
  client/src/api/api.ts
  client/src/components/Analytics.tsx
  client/src/components/GithubAvatar.tsx
  client/src/components/GithubUserLink.tsx
  client/src/components/Profile/MainCard.tsx
  client/src/components/Timer.tsx
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/pages/admin/courses.tsx
  client/src/pages/profile/index.tsx
  client/src/services/courses.ts
  nestjs/openapi.sh
  nestjs/package.json
  nestjs/src/courses/courses.controller.ts
  nestjs/src/courses/dto/copy-course.dto.ts
  nestjs/src/courses/dto/create-course.dto.ts
  nestjs/src/profile/profile.controller.ts
  nestjs/src/profile/profile.module.ts
  nestjs/src/profile/profile.service.ts
  nestjs/src/registry/dto/mentor-registry.dto.ts
  nestjs/src/spec.json
  package-lock.json
  package.json
  server/package.json
  server/src/migrations/1700391857109-Obfuscation.ts
  server/src/migrations/index.ts
  server/src/models/user.ts
  server/src/repositories/stageInterview.repository.ts
  setup/restore-local.sh
  setup/restore.sh
Labels: deploy

#2370 chore: node 20
  .github/workflows/deploy-bumblebee.yaml
  .github/workflows/deploy-sloths.yaml
  .github/workflows/deploy.yaml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_close.yml
  client/Dockerfile
  client/Dockerfile.lambda
  nestjs/Dockerfile
  nestjs/Dockerfile.lambda
  package-lock.json
  server/Dockerfile
  server/Dockerfile.lambda
  server/package.json
  setup/docker-compose.yml
Labels: deploy

#2373 fix(deps): update nest monorepo
  nestjs/package.json
  package-lock.json
Labels: renovate

#2374 chore: update dependencies
  client/package.json
  client/src/__tests__/__snapshots__/ProfilePage.test.tsx.snap
  client/src/components/Forms/__tests__/__snapshots__/CourseTaskSelect.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/AboutCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/CommonCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/CommonCardWithSettingsModal.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/ContactsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/ContactsCardForm.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/CoreJsIviewsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/EducationCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/MainCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/MentorStatsCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PreScreeningIviewCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/ProfileSettingsModal.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/PublicFeedbackCard.test.tsx.snap
  client/src/components/Profile/__test__/__snapshots__/StudentStatsCard.test.tsx.snap
  client/src/modules/CrossCheck/__tests__/__snapshots__/AddCriteriaForCrossCheck.test.tsx.snap
  nestjs/package.json
  package-lock.json
  package.json
  server/package.json
  setup/cdk/package-lock.json
  setup/cdk/package.json
Labels: deploy

#2314 feat: show student score in first position
  client/.eslintrc.js
  client/specs/smoke.spec.ts
  client/src/api/api.ts
  client/src/modules/Score/components/ScoreTable/Summary.tsx
  client/src/modules/Score/components/ScoreTable/index.tsx
  client/src/modules/Score/pages/ScorePage/index.tsx
  client/src/services/course.ts
  nestjs/src/courses/score/score.controller.ts
  nestjs/src/courses/score/score.service.ts
  nestjs/src/spec.json
Labels: deploy
