Repository rolling-scopes/rsschool-app, pull requests merged in 2025-05, with the labels that each got.

#2692 fix: update aws-cdk & aws-cdk-lib versions, change class CloudFrontWebDistribution to Distribution
  setup/cdk/Stack.ts
  setup/cdk/package-lock.json
  setup/cdk/package.json
Labels: deploy, ⚔️padawans

#2695 fix: add interviewTaskType check for popconfirm
  client/src/modules/Mentor/pages/Interviews/components/InterviewsList.tsx
  client/src/modules/Mentor/pages/Interviews/components/StudentInterview.tsx
Labels: area:interview, deploy, ⚔️padawans

#2697 fix: self education validation
  nestjs/jest.config.mjs
  nestjs/package.json
  nestjs/src/courses/task-verifications/dto/index.ts
  nestjs/src/courses/task-verifications/dto/self-education.dto.ts
  nestjs/src/courses/task-verifications/dto/task-verifications-attempts.dto.ts
  nestjs/src/courses/task-verifications/self-education.service.test.ts
  nestjs/src/courses/task-verifications/self-education.service.ts
  nestjs/src/courses/task-verifications/task-verifications.controller.ts
  nestjs/src/courses/task-verifications/task-verifications.service.ts
  server/src/models/taskVerification.ts
Labels: area:task, deploy

#2703 feat: migrate to nodejs 22 and remove unused code
  .github/workflows/deploy-sloths.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_close.yml
  client/Dockerfile.lambda
  nestjs/Dockerfile
  nestjs/Dockerfile.lambda
  package-lock.json
  package.json
  server/Dockerfile.lambda
  server/src/routes/activity/index.ts
  server/src/routes/index.ts
  server/src/routes/student/index.ts
  server/src/routes/task/index.ts
  server/src/routes/taskResult/index.ts
  server/src/routes/utils.ts
Labels: deploy

#2628 fix: add Create Interview Pairs button to Interview Management Page
  client/src/api/api.ts
  client/src/pages/course/admin/interviews.tsx
  nestjs/src/courses/interviews/dto/interview-pair.dto.ts
  nestjs/src/courses/interviews/interviews.controller.ts
  nestjs/src/courses/interviews/interviews.service.ts
  nestjs/src/spec.json
  server/src/migrations/1747380525126-CourseTaskInterviewCreatingPairs.ts
  server/src/migrations/index.ts
  server/src/models/courseTask.ts
  server/src/routes/course/index.ts
  server/src/routes/course/interviews.ts
  server/src/services/tasks.service.ts
Labels: ⚔️padawans
