Repository rolling-scopes/rsschool-app, pull requests merged in 2025-06, with the labels that each got.

#2727 fix: return zero result for interview
  nestjs/src/courses/interviews/interviews.service.ts
  server/src/repositories/interview.repository.ts
  server/src/services/interview.service.ts
Labels: ⚔️padawans

#2729 fix: add default RS App URL with validation
  client/src/modules/CourseManagement/components/CourseModal/index.tsx
  client/src/services/validators.ts
Labels: ⚔️padawans

#2715 feat: implement student deletion from team distribution
  client/src/api/api.ts
  client/src/modules/Teams/Pages/Teams.tsx
  client/src/modules/Teams/components/StudentsTable/StudentsTable.tsx
  client/src/modules/Teams/components/StudentsTable/renderers.tsx
  client/src/modules/Teams/components/StudentsWithoutTeamSection/StudentsWithoutTeamSection.tsx
  client/src/modules/Teams/constants.ts
  nestjs/src/courses/team-distribution/team-distribution.controller.ts
  nestjs/src/courses/team-distribution/team.service.ts
  nestjs/src/spec.json
Labels: ⚔️padawans

#2722 fix: don't send request to server on criteria upload
  client/src/modules/CrossCheck/UploadCriteriaJSON.tsx
Labels: area:crosscheck, code:client

#2721 Fix: cross-check criteria item type issue
  client/src/modules/CrossCheck/AddCriteriaForCrossCheck.tsx
Labels: area:crosscheck, code:client

#2728 feat: make cross-check criteria draggable
  client/package.json
  client/src/modules/CrossCheck/EditableTableForCrossCheck.tsx
  client/src/modules/CrossCheck/components/DragSortTable.tsx
  client/src/modules/Tasks/components/CrossCheckTaskCriteriaPanel/CrossCheckTaskCriteriaPanel.tsx
  client/src/modules/Tasks/components/TaskModal/TaskModal.tsx
  client/src/modules/Tasks/components/TaskSettings/TaskSettings.tsx
  package-lock.json
Labels: area:crosscheck, code:client, deploy

#2733 fix: add past mentors with non approved confirmation to new applications
  nestjs/src/registry/registry.service.ts
Labels: area:mentor, ⚔️padawans

#2740 fix: change mentors telegram chat appearing after mentor registration to refer to the correct course
  client/src/api/api.ts
  client/src/pages/course/mentor/confirm.tsx
  nestjs/src/discord-servers/discord-servers.controller.ts
  nestjs/src/discord-servers/discord-servers.service.ts
  nestjs/src/spec.json
Labels: area:mentor, ⚔️padawans
